<!DOCTYPE html>

<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="AngularCookies.js"></script>
	<script type="text/javascript" src="angular-route.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="scripts.js"></script>
	
</head>
<body ng-controller="trumpTweets">
<div id="intro-page-wrapper">
	<div id="intro-page">
		<h1>Trump and Sheen Tweets</h1>
		<p>This page uses the Twitter API to allow render tweets from Donald Trump and Charlie Sheen</p>
		<button id="intro-button" onclick="viewProject()">View Project</button>
	</div>
</div>
	<div class="container-fluid">
		
		<div class="jumbotron">
			<div class="row">
				<div id="trump-tweets" class="text-center col-sm-4">
					<h2>Search for Trump Tweets!</h2>
					<img src="img/donaldTrump.jpg" width="300">
				</div>
				<div class="col-sm-4 header-text text-center" >
					<p>Donald Trump has made us more connected than ever before. We are able to communicate our most intimate thoughts and feelings with the world at any given moment. But is anyone&nbsp;listening?</p>
				</div>
				<div id="sheen-tweets"class="text-center col-sm-4">
					<h2>Search for Charlie Sheen Tweets!</h2>
					<img src="img/charliesheen.jpg" width="300">
				</div>

			</div>
		</div>
		<div id="nav-wrapper">
			<nav id="nav" class="navbar navbar-inverse">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-inner">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="example-navbar">
						<ul class="nav navbar-nav">
							<li><a href="" ng-click="homePage()">Trump Tweets <span class="sr-only">(current)</span></a></li>
							<li><a href="" ng-click="secondPage()">Sheen Tweets</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>
	<div class="tweets-view" ng-view>
	</div>
	
<script>
//this makes the nav-bar sticky
$(document).ready(function(){
	$('#nav-wrapper').height($("#nav").height());

	$('#nav').affix({
		offset: {top: $('#nav').offset().top}
	});
});
</script>
</body>
</html>