/* line 1, ../compass/sass/style.scss */
h1, img {
  transform: rotate(-5deg);
}

/* line 5, ../compass/sass/style.scss */
.trump-tweets {
  height: 600px;
  background-size: cover;
  background-repeat: none;
}

/* line 10, ../compass/sass/style.scss */
.tweet-details {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  font-size: 25px;
  padding: 150px 50px 50px 50px;
}
