/* line 1, ../compass/sass/style.scss */
body {
  font-size: 25px !important;
  font-weight: bold;
}
/* line 4, ../compass/sass/style.scss */
body #intro-page-wrapper {
  text-align: center;
  overflow: scroll;
  position: absolute;
  width: 100%;
  background-color: rgba(2, 2, 5, 0.87);
  top: 0px;
  left: 0px;
  z-index: 1000000000;
  color: #f2f2f2;
}
/* line 16, ../compass/sass/style.scss */
body #intro-page-wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 3%;
}
/* line 23, ../compass/sass/style.scss */
body #intro-page-wrapper p {
  line-height: 125%;
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-weight: 300;
}
/* line 34, ../compass/sass/style.scss */
body #intro-page-wrapper button {
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  width: 225px;
  padding: 15px;
  color: white;
  background-color: #757584;
  margin: auto;
  font-size: 18px;
  margin-top: 30px;
  border: 0px;
  letter-spacing: 3px;
}
/* line 49, ../compass/sass/style.scss */
body #intro-page-wrapper button:hover {
  cursor: pointer;
  background-color: #a3a3ad;
}

/* line 54, ../compass/sass/style.scss */
.container-fluid {
  width: 100% !important;
  padding: 0 !important;
}

/* line 59, ../compass/sass/style.scss */
.trump-tweets {
  height: 600px;
  background-size: cover;
  background-repeat: none;
}

/* line 66, ../compass/sass/style.scss */
.tweet-details, .second-page-details {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  text-align: center;
  font-size: 35px;
  padding: 150px 50px 50px 50px;
}

/* line 78, ../compass/sass/style.scss */
.jumbotron {
  margin-bottom: 0px !important;
  height: 400px;
  width: 100% !important;
}
/* line 82, ../compass/sass/style.scss */
.jumbotron #trump-tweets {
  transform: rotate(-5deg);
}
/* line 85, ../compass/sass/style.scss */
.jumbotron #sheen-tweets {
  transform: rotate(5deg);
}
/* line 88, ../compass/sass/style.scss */
.jumbotron .header-text p {
  margin-top: 30px;
}

/* line 93, ../compass/sass/style.scss */
#nav {
  border-radius: 0px !important;
}

/* line 97, ../compass/sass/style.scss */
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 103, ../compass/sass/style.scss */
#nav > .navbar-inner {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}

/* line 111, ../compass/sass/style.scss */
.navbar-inverse .navbar-nav > a {
  margin-left: 500px;
}

/* line 114, ../compass/sass/style.scss */
#example-navbar ul {
  margin-left: 35%;
}
